hr {
    color: $blue;
    background-color: $blue;
    border-color: $blue;
}

body {
    cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.svg), auto;
}

input {
    border: 1px solid #b1c7ff;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 1em;
    background-color: transparent;

    ::placeholder {
        font-family: "Gotham", sans-serif;
        color: #b1c7ff;
        border-color: #b1c7ff;
    }
}

textarea {
    border: 1px solid #b1c7ff;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 1em;
    background-color: transparent;
    width: 420px;
    height: 200px;
    // font-family: "Gotham", sans-serif;

    ::placeholder {
        font-family: "Gotham", sans-serif;
        color: #b1c7ff;
        border-color: #b1c7ff;
    }
}

textarea:focus,
input:focus {
    color: #b1c7ff;
    outline: none !important;
}
::placeholder {
    color: #b1c7ff;
}

span {
    transition: 0.5s;
    &:hover {
        color: $secondary;
    }
}

button {
    font-size: 14px;
    color: #b1c7ff;
    font-family: "Gotham", sans-serif;
    font-weight: 300;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2.1em;
    border-style: solid;
    border-color: #b1c7ff;
    border-width: 1px;
    background-color: transparent;
    transition: 0.5s;

    // &:hover::after {
    //     opacity: 100;
    // }

    // &:hover::before {
    //     opacity: 0;
    // }

    &:hover {
        border-color: #3156ef;
        background-color: #3156ef;
        color: white;
        opacity: 1;
    }
}
