h1 {
    font-size: 25px;
    color: $secondary;
    font-family: "Gotham", sans-serif;
    font-weight: 700;
    letter-spacing: 0.28em;
}

h2 {
    font-size: 18px;
    color: #9fb2dd;
    font-family: "Gotham", sans-serif;
    font-weight: 400;
    letter-spacing: 0.28em;
}

h3,
a,
span {
    font-size: 14px;
    color: #9fb2dd;
    font-family: "Gotham", sans-serif;
    font-weight: 200;
    letter-spacing: 0.28em;
}

p, li{
    color: #9fb2dd;
    font-weight: 200;
    font-family: "Gotham", sans-serif;
    letter-spacing: 0.1em;
}

h4{
    font-size: 14px;
    color: #9fb2dd;
    font-family: "Gotham", sans-serif;
    font-weight: 200;
    letter-spacing: 0.28em;

}
