.about {
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(180deg, #050A18 3.3%, #20315E 105.69%);
    display: flex;
    position: relative;
    overflow: hidden;
}