.contact {
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(148.24deg, #2349b0 -20.34%, #050a19 59.06%);
    display: flex;
    position: relative;
    overflow: hidden;

    &__article {
        margin-left: 4em;
        margin-top: 10em;
        display: flex;

        .circlecontact {
            z-index: 1;
            position: absolute;
            right: 0;
            margin-right: -2em;
            

            &__img {
                width:800px;
                animation: float 10s ease-in-out 2s infinite;
            }
        }

        &--1 {
            margin-left: 5em;
        }

        &--2 {
            z-index: 10;
            margin-left: 15em;

            .social {
                margin-top: 9em;
                &--1 {
                    font-weight: 400;
                    font-size: 16px;
                }
                &--2 {
                    margin-top: 1.2em;
                }
                &--3 {
                    margin-top: 1.2em;
                }
            }
        }
    }
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(16px);
    }
    100% {
        transform: translatey(0px);
    }
}
