*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

h1 {
  font-size: 25px;
  color: #BCCDF5;
  font-family: "Gotham", sans-serif;
  font-weight: 700;
  letter-spacing: 0.28em;
}

h2 {
  font-size: 18px;
  color: #9fb2dd;
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  letter-spacing: 0.28em;
}

h3,
a,
span {
  font-size: 14px;
  color: #9fb2dd;
  font-family: "Gotham", sans-serif;
  font-weight: 200;
  letter-spacing: 0.28em;
}

p, li {
  color: #9fb2dd;
  font-weight: 200;
  font-family: "Gotham", sans-serif;
}

hr {
  color: #9FB2DD;
  background-color: #9FB2DD;
  border-color: #9FB2DD;
}

.work {
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../Resources/Images/grain.png");
  background: -webkit-gradient(linear, left top, left bottom, from(#1c2742), color-stop(105.68%, #141241), color-stop(105.69%, rgba(53, 49, 152, 0)), color-stop(105.69%, #07090f));
  background: linear-gradient(180deg, #1c2742 0%, #141241 105.68%, rgba(53, 49, 152, 0) 105.69%, #07090f 105.69%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.work__article {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 10em;
  margin-top: 5em;
}

.workElem {
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3em;
}

.workElem :hover {
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-filter: drop-shadow(0px 0px 2px #A3ADFF);
          filter: drop-shadow(0px 0px 2px #A3ADFF);
}

.workElem__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.workElem__tag {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-left: 2em;
  padding-right: 2em;
  background-color: rgba(196, 205, 255, 0.5);
  margin-right: 1em;
  border-radius: 2em;
  font-size: 10px;
  color: black;
}

.workElem__title {
  margin-top: 1.2em;
}

.workElem__description {
  font-size: 14px;
  width: 50%;
  margin-top: 1.4em;
}

.workElem__image {
  width: 60%;
  height: 60%;
  margin-top: 1em;
  border-radius: 11px;
}

.banner {
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../Resources/Images/grain.png");
  background: -webkit-gradient(linear, left top, left bottom, from(#1c2742), color-stop(105.68%, #141241), color-stop(105.69%, rgba(53, 49, 152, 0)), color-stop(105.69%, #07090f));
  background: linear-gradient(180deg, #1c2742 0%, #141241 105.68%, rgba(53, 49, 152, 0) 105.69%, #07090f 105.69%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.banner .grain {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.banner__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner__article--1 .blobsbg {
  mix-blend-mode: overlay;
  -webkit-animation: float 10s ease-in-out infinite alternate;
          animation: float 10s ease-in-out infinite alternate;
}

.banner__article--1 .bloblist {
  mix-blend-mode: hard-light;
  z-index: 1;
}

.banner__article--1 .bloblist .blob {
  position: absolute;
}

.banner__article--1 .bloblist .blob--1 {
  top: 30em;
  left: 10em;
}

.banner__article--1 .bloblist .blob--2 {
  top: 15em;
  left: 10em;
}

.banner__article--1 .bloblist .blob--3 {
  top: 20em;
  left: 20em;
}

.banner__article--1 .bloblist .blob--4 {
  top: 15em;
  left: 15em;
}

.banner__article--2 {
  position: relative;
  width: 80%;
}

.banner__article--2 .info {
  position: absolute;
  z-index: 2;
  margin-top: 23em;
  margin-left: 12em;
}

.banner__article--2 .info .title {
  text-shadow: 0px 0px 10px rgba(188, 205, 245, 0.459);
}

.banner__article--2 .info .subtitle {
  margin-top: 1.3em;
}

.banner__article--2 .info .links {
  margin-top: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: bottom;
}

.banner__article--2 .info .links__li {
  margin-right: 1.5em;
  text-shadow: 0px 0px 5px rgba(188, 205, 245, 0);
  -webkit-transition-delay: calc((var(--n) - 1) * 0.1s);
          transition-delay: calc((var(--n) - 1) * 0.1s);
}

.banner__article--2 .info .links__li :hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  mix-blend-mode: hard-light;
  -webkit-filter: drop-shadow(0px 0px 2px);
          filter: drop-shadow(0px 0px 2px);
}

.banner__article--2 .info .links__li::after {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-shadow: 0px 0px 5px rgba(188, 205, 245, 0);
}

.banner__article--2 .info .links__li .icon {
  vertical-align: middle;
  margin-right: 1.5em;
}

.banner__article--2 .circle {
  top: 10em;
  mix-blend-mode: hard-light;
  z-index: 1;
  position: absolute;
}

.banner__article--2 .circleblur {
  top: 10em;
  position: absolute;
  mix-blend-mode: hard-light;
  z-index: 1;
  -webkit-filter: blur(60px);
          filter: blur(60px);
  opacity: 0.5;
  display: display;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-15px);
            transform: translatey(-15px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-15px);
            transform: translatey(-15px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes blobs {
  0% {
    border-radius: 26% 74% 61% 39% / 54% 67% 33% 46%;
  }
  10% {
    border-radius: 74% 26% 47% 53% / 68% 46% 54% 32%;
  }
  20% {
    border-radius: 48% 52% 30% 70% / 27% 37% 63% 73%;
  }
  30% {
    border-radius: 73% 27% 57% 43% / 28% 67% 33% 72%;
  }
  40% {
    border-radius: 63% 37% 56% 44% / 25% 28% 72% 75%;
  }
  50% {
    border-radius: 39% 61% 70% 30% / 61% 29% 71% 39%;
  }
  60% {
    border-radius: 27% 73% 29% 71% / 73% 51% 49% 27%;
  }
  70% {
    border-radius: 39% 61% 65% 35% / 74% 65% 35% 26%;
  }
  80% {
    border-radius: 55% 45% 37% 63% / 38% 30% 70% 62%;
  }
  90% {
    border-radius: 25% 75% 70% 30% / 39% 50% 50% 61%;
  }
  100% {
    border-radius: 66% 34% 33% 67% / 65% 73% 27% 35%;
  }
}

@keyframes blobs {
  0% {
    border-radius: 26% 74% 61% 39% / 54% 67% 33% 46%;
  }
  10% {
    border-radius: 74% 26% 47% 53% / 68% 46% 54% 32%;
  }
  20% {
    border-radius: 48% 52% 30% 70% / 27% 37% 63% 73%;
  }
  30% {
    border-radius: 73% 27% 57% 43% / 28% 67% 33% 72%;
  }
  40% {
    border-radius: 63% 37% 56% 44% / 25% 28% 72% 75%;
  }
  50% {
    border-radius: 39% 61% 70% 30% / 61% 29% 71% 39%;
  }
  60% {
    border-radius: 27% 73% 29% 71% / 73% 51% 49% 27%;
  }
  70% {
    border-radius: 39% 61% 65% 35% / 74% 65% 35% 26%;
  }
  80% {
    border-radius: 55% 45% 37% 63% / 38% 30% 70% 62%;
  }
  90% {
    border-radius: 25% 75% 70% 30% / 39% 50% 50% 61%;
  }
  100% {
    border-radius: 66% 34% 33% 67% / 65% 73% 27% 35%;
  }
}

.header {
  position: fixed;
  z-index: 1;
  right: 2em;
  top: 2em;
}

.header .menu {
  width: 2em;
}

.header .menu__line {
  margin-right: 0.2em;
}

.header .menu__line2 {
  margin-left: 0.2em;
}

.links .link {
  cursor: pointer;
}

@font-face {
  font-family: GothamMedium,sans-serif;
  src: url("/src/Resources/Fonts/GothamMedium.ttf");
}

@font-face {
  font-family: GothamLight,sans-serif;
  src: url("/src/Resources/Fonts/GothamLight.ttf");
}

@font-face {
  font-family: GothamBold,sans-serif;
  src: url("/src/Resources/Fonts/GothamBold.ttf");
}

#app {
  font-family: Gotham,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
/*# sourceMappingURL=styles.css.map */