*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

h1 {
  font-size: 30px;
  color: #BCCDF5;
  font-family: "Gotham", sans-serif;
  font-weight: 700;
  letter-spacing: 0.28em;
}

h2 {
  font-size: 18px;
  color: #9fb2dd;
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  letter-spacing: 0.28em;
}

h3,
a,
span {
  font-size: 14px;
  color: #9fb2dd;
  font-family: "Gotham", sans-serif;
  font-weight: 200;
  letter-spacing: 0.28em;
}

textarea,
input {
  font-size: 12px;
  color: #9fb2dd;
  font-family: "Gotham", sans-serif;
  font-weight: 200;
  letter-spacing: 0.28em;
}

li {
  color: #9fb2dd;
  font-weight: 300;
  font-family: "Gotham", sans-serif;
  letter-spacing: 0.1em;
}

p {
  color: #9fb2dd;
  font-weight: 300;
  line-height: 20px;
  font-family: "Gotham", sans-serif;
  letter-spacing: 0.1em;
}

h4 {
  font-size: 14px;
  color: #9fb2dd;
  font-family: "Gotham", sans-serif;
  font-weight: 200;
  letter-spacing: 0.28em;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 24px;
    color: #BCCDF5;
    font-family: "Gotham", sans-serif;
    font-weight: 700;
    letter-spacing: 0.28em;
  }
  h2 {
    font-size: 16px;
    color: #9fb2dd;
    font-family: "Gotham", sans-serif;
    font-weight: 400;
    letter-spacing: 0.28em;
  }
  h3,
  a,
  span {
    font-size: 12px;
    color: #9fb2dd;
    font-family: "Gotham", sans-serif;
    font-weight: 200;
    letter-spacing: 0.28em;
  }
  textarea,
  input {
    font-size: 12px;
    color: #9fb2dd;
    font-family: "Gotham", sans-serif;
    font-weight: 200;
    letter-spacing: 0.28em;
  }
  li {
    color: #9fb2dd;
    font-weight: 300;
    font-family: "Gotham", sans-serif;
    letter-spacing: 0.1em;
  }
  p {
    color: #9fb2dd;
    font-weight: 300;
    line-height: 20px;
    font-size: 12px;
    font-family: "Gotham", sans-serif;
    letter-spacing: 0.1em;
  }
  h4 {
    font-size: 14px;
    color: #9fb2dd;
    font-family: "Gotham", sans-serif;
    font-weight: 200;
    letter-spacing: 0.28em;
  }
}

hr {
  color: #9FB2DD;
  background-color: #9FB2DD;
  border-color: #9FB2DD;
}

body {
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.svg), auto;
}

input {
  border: 1px solid #b1c7ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 1em;
  width: 100%;
  background-color: transparent;
}

input ::-webkit-input-placeholder {
  font-family: "Gotham", sans-serif;
  color: #b1c7ff;
  border-color: #b1c7ff;
}

input :-ms-input-placeholder {
  font-family: "Gotham", sans-serif;
  color: #b1c7ff;
  border-color: #b1c7ff;
}

input ::-ms-input-placeholder {
  font-family: "Gotham", sans-serif;
  color: #b1c7ff;
  border-color: #b1c7ff;
}

input ::placeholder {
  font-family: "Gotham", sans-serif;
  color: #b1c7ff;
  border-color: #b1c7ff;
}

textarea {
  border: 1px solid #b1c7ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 1em;
  background-color: transparent;
  width: 100%;
  height: 200px;
}

textarea ::-webkit-input-placeholder {
  font-family: "Gotham", sans-serif;
  color: #b1c7ff;
  border-color: #b1c7ff;
}

textarea :-ms-input-placeholder {
  font-family: "Gotham", sans-serif;
  color: #b1c7ff;
  border-color: #b1c7ff;
}

textarea ::-ms-input-placeholder {
  font-family: "Gotham", sans-serif;
  color: #b1c7ff;
  border-color: #b1c7ff;
}

textarea ::placeholder {
  font-family: "Gotham", sans-serif;
  color: #b1c7ff;
  border-color: #b1c7ff;
}

@media screen and (max-width: 700px) {
  textarea {
    width: 100%;
  }
}

textarea:focus,
input:focus {
  color: #b1c7ff;
  outline: none !important;
}

::-webkit-input-placeholder {
  color: #b1c7ff;
}

:-ms-input-placeholder {
  color: #b1c7ff;
}

::-ms-input-placeholder {
  color: #b1c7ff;
}

::placeholder {
  color: #b1c7ff;
}

span {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

span:hover {
  color: #BCCDF5;
}

button {
  font-size: 14px;
  color: #b1c7ff;
  font-family: "Gotham", sans-serif;
  font-weight: 300;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2.1em;
  border-style: solid;
  border-color: #b1c7ff;
  border-width: 1px;
  background-color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

button:hover {
  border-color: #3156ef;
  background-color: #3156ef;
  color: white;
  opacity: 1;
}

.work {
  min-height: 100vh;
  max-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../Resources/Images/grain.png");
  background: linear-gradient(359.86deg, #1C257B 10.75%, #111d3d 93.78%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.work__ellipses {
  z-index: 1;
}

.work__ellipses .ellip {
  position: absolute;
  -webkit-animation: float 10s ease-in-out 2s infinite;
          animation: float 10s ease-in-out 2s infinite;
}

.work__ellipses .ellip--1 {
  top: 100px;
  left: 60px;
}

.work__ellipses .ellip--2 {
  top: 600px;
  left: 200px;
}

.work__ellipses .ellip--3 {
  bottom: 350px;
  right: 80px;
}

.work__article {
  z-index: 10;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5em;
  margin-left: 16em;
  margin-bottom: 5em;
}

@media screen and (max-width: 700px) {
  .work {
    min-height: 100vh;
    max-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../Resources/Images/grain.png");
    background: linear-gradient(359.86deg, #1C257B 10.75%, #111d3d 93.78%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .work__ellipses {
    z-index: 1;
  }
  .work__ellipses .ellip {
    position: absolute;
    -webkit-animation: float 10s ease-in-out 2s infinite;
            animation: float 10s ease-in-out 2s infinite;
  }
  .work__ellipses .ellip--1 {
    top: 100px;
    left: 0px;
  }
  .work__ellipses .ellip--2 {
    top: 600px;
    left: 0px;
  }
  .work__ellipses .ellip--3 {
    bottom: 350px;
    right: 00px;
  }
  .work__article {
    z-index: 10;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5em;
    margin-left: 0em;
    margin-bottom: 5em;
  }
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(16px);
            transform: translatey(16px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(16px);
            transform: translatey(16px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

.workElem {
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6em;
}

.workElem__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.workElem__tag {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-left: 2em;
  padding-right: 2em;
  background-color: rgba(49, 35, 165, 0.5);
  margin-right: 1em;
  border-radius: 2em;
  font-size: 10px;
  color: #8193bc;
}

.workElem__title {
  margin-top: 1.2em;
}

.workElem__description {
  font-size: 14px;
  width: 50%;
  margin-top: 1.4em;
}

.workElem__a {
  -webkit-transition: 2s;
  transition: 2s;
}

.workElem__a .image {
  width: 60%;
  height: 60%;
  margin-top: 1em;
  border-radius: 11px;
}

.workElem__a :hover {
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-filter: drop-shadow(0px 0px 5px #A3ADFF);
          filter: drop-shadow(0px 0px 5px #A3ADFF);
}

.workElem__a :hover:after {
  -webkit-transition: 2s;
  transition: 2s;
}

@media screen and (max-width: 700px) {
  .workElem {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 6em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .workElem__list {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    text-align: center;
  }
  .workElem__tag {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 0em;
    padding-right: 0em;
    background-color: rgba(49, 35, 165, 0.5);
    margin-right: 1em;
    border-radius: 2em;
    font-size: 10px;
    color: #8193bc;
  }
  .workElem__title {
    margin-top: 1.2em;
  }
  .workElem__description {
    text-align: center;
    font-size: 14px;
    width: 80%;
    margin-top: 1.4em;
  }
  .workElem__a {
    width: 60%;
    -webkit-transition: 2s;
    transition: 2s;
  }
  .workElem__a .image {
    width: 100%;
    height: 60%;
    margin-top: 1em;
    border-radius: 11px;
  }
  .workElem__a :hover {
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    -webkit-filter: drop-shadow(0px 0px 5px #A3ADFF);
            filter: drop-shadow(0px 0px 5px #A3ADFF);
  }
  .workElem__a :hover:after {
    -webkit-transition: 2s;
    transition: 2s;
  }
}

.banner {
  width: 100%;
  min-height: 130vh;
  max-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../Resources/Images/grain.png");
  background: linear-gradient(210.58deg, #091022 19.98%, #111d3d 56.3%, #091022 87.94%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.banner__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner__article--1 .circleheader {
  width: 30%;
  position: absolute;
  top: 10em;
  left: 20em;
}

.banner__article--1 .circleheader .circle2 {
  width: 15em;
}

.banner__article--1 .elipse {
  position: absolute;
}

.banner__article--1 .elipse--1 {
  left: 1em;
  mix-blend-mode: hard-light;
  width: 98%;
}

.banner__article--1 .elipse--2 {
  top: 8em;
  left: 22em;
}

.banner__article--1 .elipse--3 {
  top: 8em;
  left: 8em;
}

.banner__article--2 {
  position: relative;
  width: 80%;
}

.banner__article--2 .info {
  position: absolute;
  z-index: 2;
  margin-top: 23em;
  margin-left: 42em;
}

.banner__article--2 .info .title {
  text-shadow: 0px 0px 10px rgba(188, 205, 245, 0.459);
}

.banner__article--2 .info .subtitle {
  margin-top: 1.3em;
}

@media screen and (max-width: 700px) {
  .banner {
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../Resources/Images/grain.png");
    background: linear-gradient(210.58deg, #091022 19.98%, #111d3d 56.3%, #091022 87.94%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  .banner__article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner__article--1 {
    width: 10%;
  }
  .banner__article--1 .circleheader {
    width: 50%;
    position: absolute;
    top: -5em;
    left: -18.5em;
  }
  .banner__article--1 .circleheader .circle2 {
    width: 50em;
  }
  .banner__article--1 .elipse {
    display: none;
    position: absolute;
  }
  .banner__article--1 .elipse--1 {
    left: 1em;
    mix-blend-mode: hard-light;
    width: 98%;
  }
  .banner__article--1 .elipse--2 {
    width: 100%;
    top: 8em;
    left: 2em;
  }
  .banner__article--1 .elipse--3 {
    width: 100%;
    top: 8em;
    left: 1em;
  }
  .banner__article--2 {
    position: relative;
    width: 80%;
  }
  .banner__article--2 .info {
    position: absolute;
    z-index: 2;
    margin-top: 7em;
    top: 7em;
    margin-left: 0em;
  }
  .banner__article--2 .info .title {
    text-shadow: 0px 0px 10px rgba(188, 205, 245, 0.459);
  }
  .banner__article--2 .info .subtitle {
    line-height: 1.5em;
    letter-spacing: 0.4em;
    margin-top: 2.5em;
  }
}

@-webkit-keyframes floaty {
  0% {
    -webkit-transform: translatey(30px);
            transform: translatey(30px);
  }
  50% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  100% {
    -webkit-transform: translatey(30px);
            transform: translatey(30px);
  }
}

@keyframes floaty {
  0% {
    -webkit-transform: translatey(30px);
            transform: translatey(30px);
  }
  50% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  100% {
    -webkit-transform: translatey(30px);
            transform: translatey(30px);
  }
}

.contact {
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background: linear-gradient(180.24deg, #1C257B 10.34%, #050a19 70.06%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.contact__article {
  margin-left: 4em;
  margin-top: 16em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__article .circlecontact {
  z-index: 1;
  position: absolute;
  right: 0;
  margin-right: -2em;
}

.contact__article .circlecontact__img {
  width: 60em;
  -webkit-animation: float 10s ease-in-out 2s infinite;
          animation: float 10s ease-in-out 2s infinite;
}

.contact__article--1 {
  z-index: 10;
  margin-left: 5em;
}

.contact__article--2 {
  z-index: 10;
}

.contact__article--2 .social {
  position: absolute;
  right: 15em;
  margin-top: 12em;
}

.contact__article--2 .social--1 {
  font-weight: 400;
  font-size: 16px;
}

.contact__article--2 .social--2 {
  margin-top: 1.2em;
}

.contact__article--2 .social--3 {
  margin-top: 1.2em;
}

@media screen and (max-width: 700px) {
  .contact {
    width: 100%;
    min-height: 130vh;
    max-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(180.24deg, #1C257B 10.34%, #050a19 70.06%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  .contact__article {
    width: 100%;
    margin-left: 0em;
    margin-top: 10em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact__article .circlecontact {
    z-index: 1;
    position: absolute;
    right: 0;
    margin-right: -2em;
  }
  .contact__article .circlecontact__img {
    width: 60em;
    -webkit-animation: float 10s ease-in-out 2s infinite;
            animation: float 10s ease-in-out 2s infinite;
  }
  .contact__article--1 {
    z-index: 10;
    margin-left: 1em;
    padding-right: 3em;
    width: 100%;
  }
  .contact__article--2 {
    z-index: 10;
  }
  .contact__article--2 .social {
    position: absolute;
    right: 0em;
    bottom: 8em;
    text-align: center;
    padding-bottom: 5em;
  }
  .contact__article--2 .social--1 {
    font-weight: 400;
    font-size: 16px;
  }
  .contact__article--2 .social--2 {
    margin-top: 1.2em;
  }
  .contact__article--2 .social--3 {
    margin-top: 1.2em;
  }
  .contact__article--2 .social--4 {
    margin-top: -2em;
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(20px);
            transform: translatey(20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

.contactForm__form {
  width: 100%;
}

.contactForm__form--1 {
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contactForm__form--1 .input {
  margin-right: 2em;
  margin-top: 1em;
}

.contactForm__form--2 {
  margin-top: 2em;
}

.contactForm__form--2 .contactformBtn {
  margin-top: 2em;
}

@media screen and (max-width: 700px) {
  .contactForm__form {
    width: 100%;
  }
  .contactForm__form--1 {
    margin-top: 4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactForm__form--1 .input {
    margin-right: 2em;
    margin-top: 1em;
  }
  .contactForm__form--2 {
    margin-top: 2em;
  }
  .contactForm__form--2 .contactformBtn {
    margin-top: 2em;
  }
}

.header {
  position: fixed;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  top: 2em;
}

.header__article--1 {
  position: relative;
  width: 50%;
}

.header__article--1 .logo {
  margin-left: 1em;
  width: 5%;
  height: 100%;
}

.header__article--2 {
  position: relative;
  width: 50%;
  margin-right: 3em;
  right: 0px;
}

.header .menu {
  width: 2em;
}

.header .menu__line {
  margin-right: 0.2em;
}

.header .menu__line2 {
  margin-left: 0.2em;
}

@media screen and (max-width: 700px) {
  .header {
    position: fixed;
    z-index: 20;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    top: 0em;
  }
  .header__article--1 {
    position: relative;
    width: 50%;
    margin-top: 1em;
  }
  .header__article--1 .logo {
    margin-left: 1em;
    width: 15%;
    height: 100%;
  }
  .header__article--2 {
    position: relative;
    width: 50%;
    top: 1em;
    margin-right: 1em;
    right: 0px;
  }
  .header .menu {
    width: 2em;
  }
  .header .menu__line {
    margin-right: 0.2em;
  }
  .header .menu__line2 {
    margin-left: 0.2em;
  }
}

.linksmenu {
  text-align: right;
}

.linksmenu .menuWeb {
  display: block;
}

.linksmenu .burgerMenu {
  display: none;
}

.linksmenu__link {
  margin-top: 0.4em;
  cursor: pointer;
}

.linksmenu__link .link {
  position: relative;
  color: white;
}

.linksmenu__link .link ::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 1px;
  bottom: 0;
  right: 0;
  background-color: #BCCDF5;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.linksmenu__link .link :hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

@media screen and (max-width: 700px) {
  .linksmenu .menuWeb {
    display: none;
  }
  .linksmenu .burgerMenu {
    margin-left: 8em;
    display: block;
  }
  .linksmenu .burgerMenu .burgerLine {
    width: 50%;
  }
  .linksmenu .burgerNavigation {
    position: absolute;
    margin-right: 0em;
  }
}

.links {
  margin-top: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: bottom;
}

.links__li {
  margin-right: 1.5em;
  text-shadow: 0px 0px 5px rgba(188, 205, 245, 0);
  -webkit-transition-delay: calc((var(--n) - 1) * 0.1s);
          transition-delay: calc((var(--n) - 1) * 0.1s);
}

.links__li :hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  mix-blend-mode: hard-light;
  -webkit-filter: drop-shadow(0px 0px 2px);
          filter: drop-shadow(0px 0px 2px);
}

.links__li::after {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-shadow: 0px 0px 5px rgba(188, 205, 245, 0);
}

.links__li .icon {
  vertical-align: middle;
  margin-right: 1.5em;
}

.about {
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background: linear-gradient(139.54deg, #091022 17.04%, #111d3d 48.16%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.about .circleseflie {
  bottom: 0;
  left: 0;
  position: absolute;
  -webkit-animation: float 10s ease-in-out 1s infinite;
          animation: float 10s ease-in-out 1s infinite;
}

.about__article {
  margin-left: 5em;
  margin-top: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
}

.about__article--1 {
  margin-top: 5em;
  width: 20%;
}

.about__article--1 .ellipseTitle {
  top: -2em;
  position: absolute;
}

.about__article--1 .title {
  font-size: 25px;
}

.about__article--2 {
  width: 70%;
  margin-top: 9em;
}

.about__article--2 .imageselfie {
  width: 70%;
}

.about__article--3 {
  margin-left: 0em;
  width: 80%;
  margin-right: 8em;
  margin-top: 10em;
}

.about__article--3 .paragraph--containers {
  border-radius: 32px;
  background-color: rgba(50, 69, 124, 0.29);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.about__article--3 .paragraph--containers .paragraph {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
}

.about__article--3 .ellipseParagraph {
  top: 30em;
  right: 4em;
  position: absolute;
}

.about__article--3 .linkparagraph {
  text-shadow: 0px 0px 5px rgba(188, 205, 245, 0);
  -webkit-transition-delay: calc((var(--n) - 1) * 0.1s);
          transition-delay: calc((var(--n) - 1) * 0.1s);
}

.about__article--3 .linkparagraph .iconLink {
  margin-left: 1em;
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about__article--3 .linkparagraph .iconLink .paragraphLink {
  font-size: 14px;
}

.about__article--3 .linkparagraph :hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  mix-blend-mode: hard-light;
  -webkit-filter: drop-shadow(0px 0px 2px);
          filter: drop-shadow(0px 0px 2px);
}

.about__article--3 .linkparagraph::after {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-shadow: 0px 0px 5px rgba(188, 205, 245, 0);
}

@media screen and (max-width: 700px) {
  .about {
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(139.54deg, #091022 17.04%, #111d3d 48.16%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  .about .circleseflie {
    bottom: 0;
    left: 0;
    position: absolute;
    -webkit-animation: float 10s ease-in-out 1s infinite;
            animation: float 10s ease-in-out 1s infinite;
  }
  .about__article {
    margin-left: 2em;
    margin-top: 8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 5;
  }
  .about__article--1 {
    margin-top: 2em;
    margin-left: 2em;
    width: 20%;
  }
  .about__article--1 .ellipseTitle {
    top: -2em;
    position: absolute;
  }
  .about__article--1 .title {
    font-size: 20px;
  }
  .about__article--2 {
    width: 90%;
    margin-top: 2em;
  }
  .about__article--2 .imageselfie {
    width: 100%;
  }
  .about__article--3 {
    margin-left: 0em;
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0em;
    margin-top: 2em;
  }
  .about__article--3 .paragraph--containers {
    border-radius: 32px;
    background-color: rgba(50, 69, 124, 0.29);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .about__article--3 .paragraph--containers .paragraph {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
  }
  .about__article--3 .ellipseParagraph {
    display: none;
    top: 30em;
    right: 4em;
    position: absolute;
  }
  .about__article--3 .linkparagraph {
    text-shadow: 0px 0px 5px rgba(188, 205, 245, 0);
    -webkit-transition-delay: calc((var(--n) - 1) * 0.1s);
            transition-delay: calc((var(--n) - 1) * 0.1s);
  }
  .about__article--3 .linkparagraph .iconLink {
    margin-left: 1em;
    margin-top: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about__article--3 .linkparagraph .iconLink .paragraphLink {
    font-size: 14px;
  }
  .about__article--3 .linkparagraph :hover {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    mix-blend-mode: hard-light;
    -webkit-filter: drop-shadow(0px 0px 2px);
            filter: drop-shadow(0px 0px 2px);
  }
  .about__article--3 .linkparagraph::after {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-shadow: 0px 0px 5px rgba(188, 205, 245, 0);
  }
}

@font-face {
  font-family: GothamMedium,sans-serif;
  src: url("/src/Resources/Fonts/GothamMedium.ttf");
}

@font-face {
  font-family: GothamLight,sans-serif;
  src: url("/src/Resources/Fonts/GothamLight.ttf");
}

@font-face {
  font-family: GothamBold,sans-serif;
  src: url("/src/Resources/Fonts/GothamBold.ttf");
}

#app {
  font-family: Gotham,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  width: 100%;
}

.imagegrain {
  background-image: url(./Resources/Images/grain.png);
  background-size: cover;
  opacity: 0.2;
  width: 100%;
  background-repeat: repeat;
  position: fixed;
  z-index: 1;
}
/*# sourceMappingURL=styles.css.map */