.work{
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../Resources/Images/grain.png");
    background: linear-gradient(234.27deg, #080F1F 30.59%, #1B3886 92.57%);
    
    display: flex;
    position: relative;
    
   
    &__article{
       
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left:10em;
        margin-top:5em;
    }
}