.work{
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../Resources/Images/grain.png");
    background: linear-gradient(180deg, #1c2742 0%, #141241 105.68%, rgba(53, 49, 152, 0) 105.69%, #07090f 105.69%);
    display: flex;
    position: relative;
   
    &__article{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}