.banner {
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../Resources/Images/grain.png");
    background: linear-gradient(210.58deg, #091022 19.98%, #111d3d 56.3%, #091022 87.94%);
    display: flex;
    position: relative;
    overflow: hidden;

    .grain {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        // animation: grain 8s steps(10) infinite;
    }

    &__article {
        display: flex;

        &--1 {
            
            .circle {
                top:10em;
                left:10em;
                position: absolute;
            }
            .elipse {
                position: absolute;
                top: 8em;
                

                &--1 {
                    left: 6em;
                    mix-blend-mode: hard-light;
                    width: 90%;
                }

                &--2 {
                    left: 22em;
                }

                &--3 {
                    left: 8em;
                }
            }
        }

        &--2 {
            position: relative;
            width: 80%;

            .info {
                position: absolute;
                z-index: 2;

                margin-top: 23em;
                margin-left: 42em;
                .title {
                    text-shadow: 0px 0px 10px rgba(188, 205, 245, 0.459);
                }
                .subtitle {
                    margin-top: 1.3em;
                }
            }
        }
    }
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-15px);
    }
    100% {
        transform: translatey(0px);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes blobs {
    0% {
        border-radius: 26% 74% 61% 39% / 54% 67% 33% 46%;
    }
    10% {
        border-radius: 74% 26% 47% 53% / 68% 46% 54% 32%;
    }
    20% {
        border-radius: 48% 52% 30% 70% / 27% 37% 63% 73%;
    }
    30% {
        border-radius: 73% 27% 57% 43% / 28% 67% 33% 72%;
    }
    40% {
        border-radius: 63% 37% 56% 44% / 25% 28% 72% 75%;
    }
    50% {
        border-radius: 39% 61% 70% 30% / 61% 29% 71% 39%;
    }
    60% {
        border-radius: 27% 73% 29% 71% / 73% 51% 49% 27%;
    }
    70% {
        border-radius: 39% 61% 65% 35% / 74% 65% 35% 26%;
    }
    80% {
        border-radius: 55% 45% 37% 63% / 38% 30% 70% 62%;
    }
    90% {
        border-radius: 25% 75% 70% 30% / 39% 50% 50% 61%;
    }
    100% {
        border-radius: 66% 34% 33% 67% / 65% 73% 27% 35%;
    }
}

@keyframes grain {
    0%,
    100% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(-5%, -10%);
    }
    20% {
        transform: translate(-15%, 5%);
    }
    30% {
        transform: translate(7%, -25%);
    }
    40% {
        transform: translate(-5%, 25%);
    }
    50% {
        transform: translate(-15%, 10%);
    }
    60% {
        transform: translate(15%, 0%);
    }
    70% {
        transform: translate(0%, 15%);
    }
    80% {
        transform: translate(3%, 35%);
    }
    90% {
        transform: translate(-10%, 10%);
    }
}
