.banner {
    width: 100%;
    min-height: 120vh;
    max-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../Resources/Images/grain.png");
    background: linear-gradient(210.58deg, #091022 19.98%, #111d3d 56.3%, #091022 87.94%) ;
    display: flex;
    position: relative;
    overflow: hidden;

   

    &__article {
        display: flex;

        &--1 {
            .circleheader {
               
                width: 30%;
                position: absolute;
                top:10em;
                left:20em;
                // animation: floaty 3s ease-in-out 1s infinite;
                .circle2{
                    width:15em;
                }
            }
            .elipse {
              
                position: absolute;
               
                

                &--1 {
                    left: 1em;
                    mix-blend-mode: hard-light;
                    width: 98%;
                    // animation: float 10s ease-in-out 2s infinite;
                }

                &--2 {
                    top: 8em;
                    left: 22em;
                }

                &--3 {
                    top: 8em;
                    left: 8em;
                }
            }
        }

        &--2 {
            position: relative;
            width: 80%;

            .info {
                position: absolute;
                z-index: 2;

                margin-top: 23em;
                margin-left: 42em;
                .title {
                    text-shadow: 0px 0px 10px rgba(188, 205, 245, 0.459);
                }
                .subtitle {
                    margin-top: 1.3em;
                }
            }
        }
    }
}




@media screen and (max-width: 700px) {
    .banner {
        width: 100%;
        min-height: 100vh;
        max-height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../Resources/Images/grain.png");
        background: linear-gradient(210.58deg, #091022 19.98%, #111d3d 56.3%, #091022 87.94%) ;
        display: flex;
        position: relative;
        overflow: hidden;
    
       
    
        &__article {
            display: flex;
            flex-direction: column;
            
    
            &--1 {
                width: 10%;
                .circleheader {
                    width: 50%;
                    position: absolute;
                    top:-5em;
                    left:-18.5em;

                    .circle2{
                        width:50em;
                    }
                    // animation: floaty 3s ease-in-out 1s infinite;
                }
                .elipse {
                   display: none;
                   position: absolute;
                   
                    
    
                    &--1 {
                      
                        left: 1em;
                        mix-blend-mode: hard-light;
                        width: 98%;
                        // animation: float 10s ease-in-out 2s infinite;
                    }
    
                    &--2 {


                        width: 100%;
                        top: 8em;
                        left: 2em;
                    }
    
                    &--3 {
                        width: 100%;
                        top: 8em;
                        left: 1em;
                    }
                }
            }
    
            &--2 {
                position: relative;
                width: 80%;
    
                .info {
                    position: absolute;
                    z-index: 2;
                    margin-top:7em;
                    top: 7em;
                    margin-left: 0em;
                    // text-align: center;
                    .title {
                        // inline-size: 230px;
                        // overflow-wrap: break-word;
                        text-shadow: 0px 0px 10px rgba(188, 205, 245, 0.459);
                    }
                    .subtitle {
                        line-height: 1.5em;
                        letter-spacing: 0.4em;
                        margin-top: 2.5em;
                    }
                }
            }
        }
    }
    


}


@keyframes floaty {
    0% {
        transform: translatey(30px);
    }

    50% {
        transform: translatey(0px);
    }
    100% {
        transform: translatey(30px);
    }
}